<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs" routerLinkActive="active" >
          <li class="nav-item"  >
            <a  class="nav-link" routerLink="login" *ngIf="!_auth.isAuthenticated()">Login</a>
          </li>
          <li class="nav-item"  >
            <a  class="nav-link" routerLink="register" *ngIf="!_auth.isAuthenticated()" >Register</a>
          </li>
          <li class="nav-item" *ngIf="_auth.isAuthenticated()"  >
            <a  class="nav-link" routerLink="book"  >Book</a>
          </li>
          <li class="nav-item" *ngIf="_auth.isAuthenticated()"  >
            <a class="nav-link" style="cursor:pointer" (click)="onLogout();">Logout</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
